<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SiteBuilder.SiteBuilder" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SiteBuilder.SiteBuilder>
            <setting name="ClassServerDBConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="ActiveDirectoryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ClassServerDBServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="ClassServerDBUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="ClassServerDBPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ClassServerDBName" serializeAs="String">
                <value />
            </setting>
            <setting name="ADCheckLogFile" serializeAs="String">
                <value>ADCheck.log</value>
            </setting>
            <setting name="SLKSchoolWeb" serializeAs="String">
                <value>http://</value>
            </setting>
            <setting name="ClassStructureXML" serializeAs="String">
                <value>Classes.xml</value>
            </setting>
            <setting name="SLKSiteLogFile" serializeAs="String">
                <value>SLKSiteCreate.log</value>
            </setting>
            <setting name="SLKDocLibraryName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserDataTransferLogFile" serializeAs="String">
                <value>UserDataTransfer.log</value>
            </setting>
            <setting name="SLKWebFeatureName" serializeAs="String">
                <value>SharePointLearningKit
</value>
            </setting>
            <setting name="SLKInstructorSharePointRole" serializeAs="String">
                <value>SLK Instructor</value>
            </setting>
            <setting name="SLKLearnerSharePointRole" serializeAs="String">
                <value>SLK Learner</value>
            </setting>
            <setting name="ContributeSharePointRole" serializeAs="String">
                <value>Contribute</value>
            </setting>
            <setting name="ReadSharePointRole" serializeAs="String">
                <value>Read</value>
            </setting>
            <setting name="SLKDocLibraryWeb" serializeAs="String">
                <value />
            </setting>
        </SiteBuilder.SiteBuilder>
    </userSettings>
</configuration>