<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharePointLearningKit.Services.ServiceConfiguration" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Microsoft.Education.Services.ServiceConfiguration" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SharePointLearningKit.Services.ServiceConfiguration>
            <setting name="DatabaseConnection" serializeAs="String">
                <value>Server=Localhost;Database=SharePointLearningKit;Trusted_Connection=yes</value>
            </setting>
            <setting name="ContentPath" serializeAs="String">
                <value>C:\Data\Services\Content\</value>
            </setting>
        </SharePointLearningKit.Services.ServiceConfiguration>
        <Microsoft.Education.Services.ServiceConfiguration>
            <setting name="DatabaseConnection" serializeAs="String">
                <value>Server=Localhost;Database=SharePointLearningKit</value>
            </setting>
            <setting name="ContentPath" serializeAs="String">
                <value>C:\Data\Services\Content\</value>
            </setting>
        </Microsoft.Education.Services.ServiceConfiguration>
    </applicationSettings>
</configuration>