<?xml version="1.0" encoding="utf-8" ?>
<AXELERATE.SECURITY>
  <DEFAULTSECURITYOPERATIONS>
    <OPERATION Name="ReadProperty" Type="Axelerate.BusinessLayerFrameWork.BLCore.Security.clsReadBOPropertyOperation, Axelerate.BusinessLayerFrameWork, Version=1.3.0.1, Culture=neutral, PublicKeyToken=783dbd9b30afb604"/>
    <OPERATION Name="UpdateProperty" Type="Axelerate.BusinessLayerFrameWork.BLCore.Security.clsAzmanOperation, Axelerate.BusinessLayerFrameWork, Version=1.3.0.1, Culture=neutral, PublicKeyToken=783dbd9b30afb604"/>
    <OPERATION Name="Create" Type="Axelerate.BusinessLayerFrameWork.BLCore.Security.clsAzmanOperation, Axelerate.BusinessLayerFrameWork, Version=1.3.0.1, Culture=neutral, PublicKeyToken=783dbd9b30afb604"/>
    <OPERATION Name="Read" Type="Axelerate.BusinessLayerFrameWork.BLCore.Security.clsAzmanOperation, Axelerate.BusinessLayerFrameWork, Version=1.3.0.1, Culture=neutral, PublicKeyToken=783dbd9b30afb604"/>
    <OPERATION Name="Update" Type="Axelerate.BusinessLayerFrameWork.BLCore.Security.clsAzmanOperation, Axelerate.BusinessLayerFrameWork, Version=1.3.0.1, Culture=neutral, PublicKeyToken=783dbd9b30afb604"/>
    <OPERATION Name="Delete" Type="Axelerate.BusinessLayerFrameWork.BLCore.Security.clsAzmanOperation, Axelerate.BusinessLayerFrameWork, Version=1.3.0.1, Culture=neutral, PublicKeyToken=783dbd9b30afb604"/>
    <OPERATION Name="Method" Type="Axelerate.BusinessLayerFrameWork.BLCore.Security.clsAzmanOperation, Axelerate.BusinessLayerFrameWork, Version=1.3.0.1, Culture=neutral, PublicKeyToken=783dbd9b30afb604"/>
  </DEFAULTSECURITYOPERATIONS>
  <CLASSES>
    <CLASS ID="Axelerate.BusinessLogic.SharedBusinessLogic.Contacts.clsContact">
      <OPERATION Name="ReadProperty" Type="Axelerate.BusinessLayerFrameWork.BLCore.Security.clsAzmanOperation, Axelerate.BusinessLayerFrameWork, Version=1.3.0.1, Culture=neutral, PublicKeyToken=783dbd9b30afb604"/>
      <OPERATION Name="UpdateProperty" Type="Axelerate.BusinessLayerFrameWork.BLCore.Security.clsAzmanOperation, Axelerate.BusinessLayerFrameWork, Version=1.3.0.1, Culture=neutral, PublicKeyToken=783dbd9b30afb604"/>
      <OPERATION Name="Create" Type="Axelerate.BusinessLayerFrameWork.BLCore.Security.clsAzmanOperation, Axelerate.BusinessLayerFrameWork, Version=1.3.0.1, Culture=neutral, PublicKeyToken=783dbd9b30afb604"/>
      <OPERATION Name="Read" Type="Axelerate.BusinessLayerFrameWork.BLCore.Security.clsAzmanOperation, Axelerate.BusinessLayerFrameWork, Version=1.3.0.1, Culture=neutral, PublicKeyToken=783dbd9b30afb604"/>
      <OPERATION Name="Update" Type="Axelerate.BusinessLayerFrameWork.BLCore.Security.clsAzmanOperation, Axelerate.BusinessLayerFrameWork, Version=1.3.0.1, Culture=neutral, PublicKeyToken=783dbd9b30afb604"/>
      <OPERATION Name="Delete" Type="Axelerate.BusinessLayerFrameWork.BLCore.Security.clsAzmanOperation, Axelerate.BusinessLayerFrameWork, Version=1.3.0.1, Culture=neutral, PublicKeyToken=783dbd9b30afb604"/>
      <OPERATION Name="Method" Type="Axelerate.BusinessLayerFrameWork.BLCore.Security.clsAzmanOperation, Axelerate.BusinessLayerFrameWork, Version=1.3.0.1, Culture=neutral, PublicKeyToken=783dbd9b30afb604"/>
    </CLASS>  
  </CLASSES>
</AXELERATE.SECURITY>