<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PackageAnalyser.App" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PackageAnalyser.App>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
            <setting name="SchoolDBConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="IsSchoolActivityPath" serializeAs="String">
                <value>True</value>
            </setting>
        </PackageAnalyser.App>
    </applicationSettings>
</configuration>